build_infinium_vc11
data-ram
data/all.log
data/error.log
data/debug.log
project/linux/FlexiGame/obj
project/linux/FlexiGame/bin
project/linux/foobar-cpp
project/linux/FlexiGame_NB/build
project/linux/FlexiGame_NB/dist
project/linux/FlexiGame_NB/nbproject/private/private.xml
log
modules/bullet/modified/
modules/lua_514/src
modules/lua_514/test
modules/lua_514/etc
modules/lua_515/src
modules/lua_515/test
modules/lua_515/etc
modules/lua_523/src
modules/luaplus/upstream
modules/glm/cmake
modules/glm/test
modules/glm/util
modules/glm/CMakeLists.txt
modules/glm/CTestConfig.cmake
