tmp.icf
build_infinium_vc11
build_infinium_vc12
build_infinium_scons_arm
build_infinium_scons_x86
build_infinium_scons_aarch64
deployments
Infinium.mkb.bak
data/defaultProfile.log
data/test1.lua
data-ram
data/all.log
data/error.log
data/debug.log
project/linux/FlexiGame/obj
project/linux/FlexiGame/bin
project/linux/foobar-cpp
project/linux/FlexiGame_NB/build
project/linux/FlexiGame_NB/dist
project/linux/FlexiGame_NB/nbproject/private
project/linux/FlexiGame_NB/nbproject/private/private.xml
project/linux/LuaPlusNextGen_NB/build
project/linux/LuaPlusNextGen_NB/dist
project/linux/LuaPlusNextGen_NB/nbproject/private
project/linux/LuaPlusNextGen_NB/nbproject/private/private.xml
project/android/flexigame_android/build
project/android/flexigame_android/src/main/obj
project/android/flexigame_android/src/main/libs
project/android/flexigame_android/src/main/jni/SDL2
project/android/flexigame_android/src/main/jni/SDL2_image
project/android/flexigame_android/src/main/jni/SDL2_mixer
project/android/flexigame_android/src/main/jni/libmikmod
project/android/flexigame_android/src/main/jni/smpeg2
project/android/flexigame_android/src/main/jni/LuaPlus
project/android/flexigame_android/src/main/jni/zlib_128
project/android/.idea/workspace.xml
project/android/.idea/tasks.xml
project/android/.idea/datasources.xml
project/android/.idea/dataSources.ids
project/android/Thumbs.db
project/android/.gradle
project/android/build
project/android/.idea/dictionaries/*
project/android/local.properties
Thumbs.db
.DS_Store
assets/*
data/assets_dir_list
data/assets_list
data/assets_zip_list
data/sound/mod/mod*
docs/doxygen
docs/doxygen/*
icons/spot_*
icons/tabbar_*
icons/webclip_*
icons/toolbar_*
log
modules/SDL2-2.0.3
modules/SDL2_mixer-2.0.0
modules/SDL2_image-2.0.0
modules/SDL2_net-2.0.0
modules/SDL2_ttf-2.0.12
modules/SDL2-2.0.3.zip
modules/SDL2_mixer-2.0.0.zip
modules/SDL2_image-2.0.0.zip
modules/SDL2_net-2.0.0.zip
modules/SDL2_ttf-2.0.12.zip
modules/bullet/modified/
modules/bullet/bullet3-master.zip
modules/lua_514/src
modules/lua_514/test
modules/lua_514/etc
modules/lua_515/src
modules/lua_515/test
modules/lua_515/etc
modules/lua_523/src
modules/luaplus/upstream
modules/glm/cmake
modules/glm/test
modules/glm/util
modules/glm/CMakeLists.txt
modules/glm/CTestConfig.cmake
modules/ng_luaplus/build_ng_luaplus_vc11
modules/ng_luaplus/build_ng_luaplus_vc12
modules/ng_luaplus/build_ng_luaplus_scons_aarch64
modules/ng_luaplus/build_ng_luaplus_scons_arm
modules/ng_luaplus/build_ng_luaplus_scons_x86
modules/ng_luaplus/lib
modules/zlib_128/build_zlib_128_vc11
modules/zlib_128/build_zlib_128_vc12
modules/zlib_128/build_zlib_128_scons_x86
modules/zlib_128/build_zlib_128_scons_aarch64
modules/zlib_128/build_zlib_128_scons_arm
modules/zlib_128/lib
modules/libjpeg/build_libjpeg_vc11
modules/libjpeg/build_libjpeg_vc12
modules/libjpeg/build_jpeg_vc11
modules/libjpeg/build_jpeg_vc12
modules/libjpeg/lib
/project/linux/MiniZipMaster_NB/build/
/project/linux/MiniZipMaster_NB/dist/
