tmp.icf
build_infinium_vc11
build_infinium_vc12
deployments
Infinium.mkb.bak
data/defaultProfile.log
data/test1.lua
data-ram
data/all.log
data/error.log
data/debug.log
project/linux/FlexiGame/obj
project/linux/FlexiGame/bin
project/linux/foobar-cpp
project/linux/FlexiGame_NB/build
project/linux/FlexiGame_NB/dist
project/linux/FlexiGame_NB/nbproject/private
project/linux/FlexiGame_NB/nbproject/private/private.xml
project/linux/LuaPlusNextGen_NB/build
project/linux/LuaPlusNextGen_NB/dist
project/linux/LuaPlusNextGen_NB/nbproject/private
project/linux/LuaPlusNextGen_NB/nbproject/private/private.xml
data/sound/mod/mod*
docs/doxygen
docs/doxygen/*
icons/spot_*
icons/tabbar_*
icons/webclip_*
icons/toolbar_*
log
modules/bullet/modified/
modules/lua_514/src
modules/lua_514/test
modules/lua_514/etc
modules/lua_515/src
modules/lua_515/test
modules/lua_515/etc
modules/lua_523/src
modules/luaplus/upstream
modules/glm/cmake
modules/glm/test
modules/glm/util
modules/glm/CMakeLists.txt
modules/glm/CTestConfig.cmake
modules/ng_luaplus/build_ng_luaplus_vc11
modules/ng_luaplus/build_ng_luaplus_vc12
modules/ng_luaplus/lib
modules/zlib_128/build_zlib_128_vc11
modules/zlib_128/build_zlib_128_vc12
modules/zlib_128/lib
modules/libjpeg/build_libjpeg_vc11
modules/libjpeg/build_libjpeg_vc12
modules/libjpeg/build_jpeg_vc11
modules/libjpeg/build_jpeg_vc12
modules/libjpeg/lib
/project/linux/MiniZipMaster_NB/build/
/project/linux/MiniZipMaster_NB/dist/
