# This file is for configuration settings for your
# application.
#
# The syntax is similar to windows .ini files ie
#
# [GroupName]
# Setting = Value
#
# Which can be read by your application using
#  e.g s3eConfigGetString("GroupName", "Setting", string)
#
# All settings must be documented in .config.txt files.
# New settings specific to this application should be
# documented in app.config.txt
#
# Some conditional operations are also permitted, see the
# S3E documentation for details.

[GL]
#AllowNoDepthBufferClear=1
# Select an RGBA8888 screen display
EGL_RED_SIZE=5
EGL_GREEN_SIZE=8
EGL_BLUE_SIZE=5
EGL_ALPHA_SIZE=8
  
# Set a 24 bit depth buffer
EGL_DEPTH_SIZE=24

[S3E]
# Mozna programowo
# s3eSurfaceSetInt(S3E_SURFACE_DEVICE_ORIENTATION_LOCK, S3E_SURFACE_PORTRAIT_FIXED);
DispFixRot="FixedLandscape"
SysGlesVersion=2
MemSize=56000000
IOSDispScaleFactor=200

{ID=IPHONE "iPhone7,1"}
[S3E]
IOSDispScaleFactor=261
{}

#low 240x320
{[S3E]DispAreaQ==76800}
MemSize=40000000

#low 320x480
{[S3E]DispAreaQ==153600}
MemSize=40000000

#low 400x800
{[S3E]DispAreaQ==320000}
MemSize=50000000

#low 480x800
{[S3E]DispAreaQ==384000}
MemSize=64000000
	
#medium 540x960
{[S3E]DispAreaQ==518400}
MemSize=64000000

#medium 640x960
{[S3E]DispAreaQ==614400}
MemSize=72000000
	
#medium 600x1024
{[S3E]DispAreaQ==614400}
MemSize=96000000

#medium 640x1146 - NEW IPHONE 
{[S3E]DispAreaQ==733440}
MemSize=96000000

#medium 640x1136 - NEW IPHONE 
{[S3E]DispAreaQ==727040}
MemSize=96000000

#medium 768x1024
{[S3E]DispAreaQ==786432}
MemSize=96000000

#medium 720x1280
{[S3E]DispAreaQ==921600}
MemSize=96000000

#medium 768x1280
{[S3E]DispAreaQ==983040}
MemSize=96000000

#medium 800x1280
{[S3E]DispAreaQ==1024000}
MemSize=96000000
	
#high 1200x1920	| 2304000
{[S3E]DispAreaQ > 1024000}
MemSize=128000000

#high 1536x2048	
{[S3E]DispAreaQ >= 3145728}
MemSize=128000000

{}

