<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="CBspMaterialsEditDialog">
		<title>BSP Materials</title>
		<centered>1</centered>
		<focused>1</focused>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxWANTS_CHARS|wxFULL_REPAINT_ON_RESIZE</style>
		<object class="wxGridBagSizer" variable="GridBagSizerOptionsAll" member="no">
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="SBSizerMainOptions" member="no">
					<label>General options</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerGeneral" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
									<label>Name:</label>
									<style>wxALIGN_CENTRE</style>
								</object>
								<col>0</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="idMaterialName" variable="MaterialNameTextCtrl" member="yes">
									<maxlength>128</maxlength>
									<handler function="OnMaterialNameTextCtrlText" entry="EVT_TEXT" />
									<handler function="OnMaterialNameTextCtrlText" entry="EVT_TEXT_ENTER" />
								</object>
								<col>1</col>
								<row>0</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
									<label>IOR:</label>
									<tooltip>Index of refraction, valid values are from 1.0 to 10.0</tooltip>
									<help>Index of refraction, valid values are from 1.0 to 10.0</help>
								</object>
								<col>0</col>
								<row>1</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer1" member="no">
									<object class="sizeritem">
										<object class="wxTextCtrl" name="idIORTextValue" variable="IORTextCtrl" member="yes">
											<maxlength>4</maxlength>
											<handler function="OnIORTextCtrlText" entry="EVT_TEXT" />
											<handler function="OnIORTextCtrlText" entry="EVT_TEXT_ENTER" />
											<handler function="OnIORTextCtrlText" entry="EVT_TEXT_MAXLEN" />
										</object>
										<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>6</option>
									</object>
									<object class="sizeritem">
										<object class="wxSpinButton" name="idIORSpinArrows" variable="IORSpinButton" member="yes">
											<max>100</max>
											<style>wxSP_VERTICAL</style>
											<handler function="OnIORSpinButtonChange" entry="EVT_SPIN" />
											<handler function="OnIORSpinButtonChange" entry="EVT_SPIN_UP" />
											<handler function="OnIORSpinButtonChange" entry="EVT_SPIN_DOWN" />
										</object>
										<flag>wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<col>1</col>
								<row>1</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
									<label>Shininess:</label>
								</object>
								<col>0</col>
								<row>2</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="idShininessSpin" variable="ShininessSpinCtrl" member="yes">
									<value>0</value>
									<max>1000</max>
								</object>
								<col>1</col>
								<row>2</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
									<label>Dissolve:</label>
								</object>
								<col>0</col>
								<row>3</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="idDissolveSpin" variable="DissolveSpinCtrl" member="yes">
									<value>0</value>
								</object>
								<col>1</col>
								<row>3</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>0</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>4</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="SBSizerColors" member="no">
					<label>Colors</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerColors" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText5" member="no">
									<label>Ambient:</label>
								</object>
								<col>0</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxColourPickerCtrl" name="idColourPickerAmbient" variable="ColourPickerAmbient" member="yes">
									<colour>#000000</colour>
									<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
								</object>
								<col>1</col>
								<row>0</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText6" member="no">
									<label>Diffuse:</label>
								</object>
								<col>2</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxColourPickerCtrl" name="idColurPickerDiffuse" variable="ColourPickerDiffuse" member="yes">
									<colour>#000000</colour>
									<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
								</object>
								<col>3</col>
								<row>0</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText7" member="no">
									<label>Specular:</label>
								</object>
								<col>0</col>
								<row>1</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxColourPickerCtrl" name="idColourPickerSpecular" variable="ColourPickerSpecular" member="yes">
									<colour>#000000</colour>
									<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
								</object>
								<col>1</col>
								<row>1</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText8" member="no">
									<label>Transmittance:</label>
								</object>
								<col>2</col>
								<row>1</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxColourPickerCtrl" name="idColourPickerTransmittance" variable="ColourPickerTransmittance" member="yes">
									<colour>#000000</colour>
									<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
								</object>
								<col>3</col>
								<row>1</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText9" member="no">
									<label>Emission:</label>
								</object>
								<col>0</col>
								<row>2</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxColourPickerCtrl" name="idColourPickerEmission" variable="ColourPickerEmission" member="yes">
									<colour>#000000</colour>
									<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
								</object>
								<col>1</col>
								<row>2</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>1</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>4</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="SBSizerTextures" member="no">
					<label>Textures</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerTextures" member="no">
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText10" member="no">
									<label>Ambient:</label>
								</object>
								<col>0</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="idComboBoxAmbient" variable="ComboBoxAmbient" member="yes">
									<handler function="OnComboBoxTextureSelected" entry="EVT_COMBOBOX" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT_ENTER" />
								</object>
								<col>1</col>
								<row>0</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText11" member="no">
									<label>Diffuse:</label>
								</object>
								<col>0</col>
								<row>1</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="idComboBoxDiffuse" variable="ComboBoxDiffuse" member="yes">
									<handler function="OnComboBoxTextureSelected" entry="EVT_COMBOBOX" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT_ENTER" />
								</object>
								<col>1</col>
								<row>1</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText12" member="no">
									<label>Specular:</label>
								</object>
								<col>0</col>
								<row>2</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="idComboBoxSpecular" variable="ComboBoxSpecular" member="yes">
									<handler function="OnComboBoxTextureSelected" entry="EVT_COMBOBOX" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT_ENTER" />
								</object>
								<col>1</col>
								<row>2</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText13" member="no">
									<label>Normal:</label>
								</object>
								<col>0</col>
								<row>3</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="idComboBoxNormal" variable="ComboBoxNormal" member="yes">
									<handler function="OnComboBoxTextureSelected" entry="EVT_COMBOBOX" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT" />
									<handler function="OnComboBoxTextureTextUpdated" entry="EVT_TEXT_ENTER" />
								</object>
								<col>1</col>
								<row>3</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<col>2</col>
				<row>0</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>4</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="SBSizerFlags" member="no">
					<label>Other</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerOther" member="no">
							<object class="sizeritem">
								<object class="wxRadioBox" name="idRadioBoxBlend" variable="RadioBoxBlend" member="yes">
									<label>Blend</label>
									<content>
										<item>None</item>
										<item>Additive</item>
										<item>Transparency</item>
									</content>
									<default>-1</default>
									<dimension>3</dimension>
									<handler function="OnRadioBoxBlendSelect" entry="EVT_RADIOBOX" />
								</object>
								<rowspan>2</rowspan>
								<col>2</col>
								<row>0</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="idCheckBoxCullFaceFlag" variable="CheckBoxCullFace" member="yes">
									<label>Cull face</label>
									<handler function="OnCheckBoxStdClick" entry="EVT_CHECKBOX" />
								</object>
								<col>0</col>
								<row>2</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="idCheckBoxDepthTestFlag" variable="CheckBoxDepthTest" member="yes">
									<label>Depth test</label>
									<handler function="OnCheckBoxStdClick" entry="EVT_CHECKBOX" />
								</object>
								<col>2</col>
								<row>2</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="idCheckBoxDepthWriteMaskFlag" variable="CheckBoxDepthWriteMask" member="yes">
									<label>Depth write mask</label>
									<handler function="OnCheckBoxStdClick" entry="EVT_CHECKBOX" />
								</object>
								<col>1</col>
								<row>2</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="idCheckBoxTextureRepeatFlag" variable="CheckBoxTextureRepeat" member="yes">
									<label>Texture repeat</label>
									<handler function="OnCheckBoxStdClick" entry="EVT_CHECKBOX" />
								</object>
								<col>2</col>
								<row>3</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxRadioBox" name="idRadioBoxFrontFace" variable="RadioBoxFrontFace" member="yes">
									<label>Front face</label>
									<content>
										<item>Counterclockwise</item>
										<item>Clockwise</item>
									</content>
									<default>-1</default>
									<handler function="OnRadioBoxFrontFaceSelect" entry="EVT_RADIOBOX" />
								</object>
								<colspan>2</colspan>
								<col>0</col>
								<row>1</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText15" member="no">
									<label>Burn:</label>
								</object>
								<col>0</col>
								<row>3</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="idBurnSpin" variable="BurnSpinCtrl" member="yes">
									<value>0</value>
								</object>
								<col>1</col>
								<row>3</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText14" member="no">
									<label>Shader:</label>
								</object>
								<col>0</col>
								<row>0</row>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxComboBox" name="idComboBoxShader" variable="ComboBoxShader" member="yes">
									<handler function="OnComboBoxShaderSelected" entry="EVT_COMBOBOX" />
									<handler function="OnComboBoxShaderTextUpdated" entry="EVT_TEXT" />
									<handler function="OnComboBoxShaderTextUpdated" entry="EVT_TEXT_ENTER" />
								</object>
								<col>1</col>
								<row>0</row>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<col>2</col>
				<row>1</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>5</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="idButtonSave" variable="ButtonSave" member="yes">
							<label>Save</label>
							<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="idButtonApply" variable="ButtonApply" member="yes">
							<label>Apply</label>
							<default>1</default>
							<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="idButtonCancel" variable="ButtonCancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>2</col>
				<row>2</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="idButtonNew" variable="ButtonNew" member="yes">
							<label>New</label>
							<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="idButtonDelete" variable="ButtonDelete" member="yes">
							<label>Delete</label>
							<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="idButtonDuplicate" variable="ButtonDuplicate" member="yes">
							<label>Duplicate</label>
							<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>1</col>
				<row>2</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxListBox" name="idMaterialsListBox" variable="MaterialsListBox" member="yes">
					<default>-1</default>
					<handler function="OnMaterialsListBoxSelect" entry="EVT_LISTBOX" />
				</object>
				<rowspan>3</rowspan>
				<col>0</col>
				<row>0</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
