<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="CBspPreviewBottomPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxGridBagSizer" variable="GridBagSizerMainAll" member="no">
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerGroundGrid" member="no">
					<label>Ground grid</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerGroundGrid" member="no" />
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>0</col>
				<row>0</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerMaterials" member="no">
					<label>Materials</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerMaterials" member="no" />
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>0</col>
				<row>1</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerInfoStats" member="no">
					<label>Info</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerInfoStats" member="no" />
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>0</col>
				<row>2</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerBspEdit" member="no">
					<label>Tree status</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerBspEdit" member="no" />
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>0</col>
				<row>3</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerDrawing" member="no">
					<label>Drawing</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerDrawing" member="no" />
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>0</col>
				<row>4</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizerSelection" member="no">
					<label>Selection</label>
					<object class="sizeritem">
						<object class="wxGridBagSizer" variable="GridBagSizerSelection" member="no" />
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<col>0</col>
				<row>5</row>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
