<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="CBspMaterialsEditDialog">
		<title>Materials</title>
		<centered>1</centered>
		<focused>1</focused>
		<minsize>256,96</minsize>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxWANTS_CHARS</style>
		<object class="wxBoxSizer" variable="BoxSizerV1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizerH1" member="no">
					<object class="sizeritem">
						<object class="wxListBox" name="idMaterialsListBox" variable="MaterialsListBox" member="yes">
							<default>-1</default>
							<handler function="OnMaterialsListBoxSelect" entry="EVT_LISTBOX" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="idMaterialPropsPanel" variable="MaterialPropsPanel" member="yes">
							<object class="wxGridBagSizer" variable="PanelGridBagSizer" member="no">
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="SBSizerMainOptions" member="no">
										<label>General options</label>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="GridSizer1" member="no">
												<cols>2</cols>
												<rows>2</rows>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
														<label>Name:</label>
														<style>wxALIGN_CENTRE</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="idMaterialName" variable="MaterialNameTextCtrl" member="yes" />
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>2</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
														<label>IOR:</label>
														<tooltip>Index of refraction, valid values are from 1.0 to 10.0</tooltip>
														<help>Index of refraction, valid values are from 1.0 to 10.0</help>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBoxSizer" variable="BoxSizer1" member="no">
														<object class="sizeritem">
															<object class="wxTextCtrl" name="idIORTextValue" variable="IORTextCtrl" member="yes" />
															<flag>wxTOP|wxBOTTOM|wxLEFT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>6</option>
														</object>
														<object class="sizeritem">
															<object class="wxSpinButton" name="idIORSpinArrows" variable="IORSpinButton" member="yes">
																<max>100</max>
															</object>
															<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
														<label>Shininess:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxSpinCtrl" name="idShininessSpin" variable="ShininessSpinCtrl" member="yes">
														<value>0</value>
														<max>1000</max>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
														<label>Dissolve:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxSpinCtrl" name="idDissolveSpin" variable="DissolveSpinCtrl" member="yes">
														<value>0</value>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
									</object>
									<col>0</col>
									<row>0</row>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>4</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="SBSizerColors" member="no">
										<label>Colors</label>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="GridSizer2" member="no">
												<cols>4</cols>
												<rows>3</rows>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText5" member="no">
														<label>Ambient:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxColourPickerCtrl" name="idColourPickerAmbient" variable="ColourPickerAmbient" member="yes">
														<colour>#000000</colour>
														<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText6" member="no">
														<label>Diffuse:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxColourPickerCtrl" name="idColurPickerDiffuse" variable="ColourPickerDiffuse" member="yes">
														<colour>#000000</colour>
														<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText7" member="no">
														<label>Specular:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxColourPickerCtrl" name="idColourPickerSpecular" variable="ColourPickerSpecular" member="yes">
														<colour>#000000</colour>
														<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText8" member="no">
														<label>Transmittance:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxColourPickerCtrl" name="idColourPickerTransmittance" variable="ColourPickerTransmittance" member="yes">
														<colour>#000000</colour>
														<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText9" member="no">
														<label>Emission:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxColourPickerCtrl" name="idColourPickerEmission" variable="ColourPickerEmission" member="yes">
														<colour>#000000</colour>
														<handler function="OnColourPickerColourChanged" entry="EVT_COLOURPICKER_CHANGED" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
									</object>
									<col>0</col>
									<row>1</row>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>4</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="SBSizerTextures" member="no">
										<label>Textures</label>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="GridSizer3" member="no">
												<cols>2</cols>
												<rows>4</rows>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText10" member="no">
														<label>Ambient:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxComboBox" name="idComboBoxAmbient" variable="ComboBoxAmbient" member="yes">
														<handler function="OnComboBoxAmbientSelected" entry="EVT_COMBOBOX" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText11" member="no">
														<label>Diffuse:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxComboBox" name="idComboBoxDiffuse" variable="ComboBoxDiffuse" member="yes">
														<handler function="OnComboBoxDiffuseSelected" entry="EVT_COMBOBOX" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText12" member="no">
														<label>Specular:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxComboBox" name="idComboBoxSpecular" variable="ComboBoxSpecular" member="yes">
														<handler function="OnComboBoxSpecularSelected" entry="EVT_COMBOBOX" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText13" member="no">
														<label>Normal:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>2</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxComboBox" name="idComboBoxNormal" variable="ComboBoxNormal" member="yes">
														<handler function="OnComboBoxNormalSelected" entry="EVT_COMBOBOX" />
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
									</object>
									<col>1</col>
									<row>0</row>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>4</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="SBSizerFlags" member="no">
										<label>Other</label>
										<object class="sizeritem">
											<object class="wxGridBagSizer" variable="GridBagSizer1" member="no">
												<growablecols>2</growablecols>
												<object class="sizeritem">
													<object class="wxRadioBox" name="idRadioBoxBlend" variable="RadioBoxBlend" member="yes">
														<label>Blend</label>
														<content>
															<item>None</item>
															<item>Additive</item>
															<item>Transparency</item>
														</content>
														<default>-1</default>
														<handler function="OnRadioBoxBlendSelect" entry="EVT_RADIOBOX" />
													</object>
													<colspan>3</colspan>
													<col>0</col>
													<row>0</row>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="idCheckBoxCullFaceFlag" variable="CheckBoxCullFace" member="yes">
														<label>Cull face</label>
													</object>
													<col>0</col>
													<row>1</row>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="idCheckBoxDepthTestFlag" variable="CheckBoxDepthTest" member="yes">
														<label>Depth test</label>
													</object>
													<col>0</col>
													<row>2</row>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="idCheckBoxDepthWriteMaskFlag" variable="CheckBoxDepthWriteMask" member="yes">
														<label>Depth write mask</label>
													</object>
													<col>1</col>
													<row>1</row>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="idCheckBoxTextureRepeatFlag" variable="CheckBoxTextureRepeat" member="yes">
														<label>Texture repeat</label>
													</object>
													<col>1</col>
													<row>2</row>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxRadioBox" name="idRadioBoxFrontFace" variable="RadioBoxFrontFace" member="yes">
														<label>Front face</label>
														<content>
															<item>Counterclockwise</item>
															<item>Clockwise</item>
														</content>
														<default>-1</default>
														<handler function="OnRadioBoxFrontFaceSelect" entry="EVT_RADIOBOX" />
													</object>
													<colspan>3</colspan>
													<col>0</col>
													<row>3</row>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="wxID_ANY" variable="StaticText14" member="no">
														<label>Burn:</label>
													</object>
													<col>0</col>
													<row>4</row>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxSpinCtrl" name="idBurnSpin" variable="BurnSpinCtrl" member="yes">
														<value>0</value>
													</object>
													<col>1</col>
													<row>4</row>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
									</object>
									<col>1</col>
									<row>1</row>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>5</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer2" member="no">
										<object class="sizeritem">
											<object class="wxButton" name="idButtonSave" variable="ButtonSave" member="yes">
												<label>Save</label>
												<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="idButtonApply" variable="ButtonApply" member="yes">
												<label>Apply</label>
												<default>1</default>
												<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="idButtonCancel" variable="ButtonCancel" member="yes">
												<label>Cancel</label>
												<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<col>1</col>
									<row>2</row>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBoxSizer" variable="BoxSizer3" member="no">
										<object class="sizeritem">
											<object class="wxButton" name="idButtonNew" variable="ButtonNew" member="yes">
												<label>New</label>
												<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="idButtonDelete" variable="ButtonDelete" member="yes">
												<label>Delete</label>
												<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="idButtonDuplicate" variable="ButtonDuplicate" member="yes">
												<label>Duplicate</label>
												<handler function="OnButtonStdClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<col>0</col>
									<row>2</row>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>4</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
